<div class="card offset-md-3 col-md-6 mt-5">
  <div class="card-body">
      <h1 class="card-title">Forgot Password</h1>

      <div *ngIf="showError" class="alert alert-danger" role="alert">
          {{errorMessage}}
      </div>

      <div *ngIf="showSuccess" class="alert alert-success" role="alert">
          {{successMessage}}
      </div>

      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="text" id="email" formControlName="email" class="form-control"
              [ngClass]="{'is-invalid':email?.touched && email?.invalid, 'is-valid':email?.touched && email?.valid}" />
              <div *ngIf="email?.errors?.required" class="invalid-feedback">The email is required</div>
              <div *ngIf="email?.errors?.email" class="invalid-feedback">Invalid email</div>
          </div>
          <br>
          <div class="form-group">
                  <button type="submit" class="btn btn-dark" [disabled]="!forgetPasswordForm.valid">Submit</button>
          </div>
      </form>
  </div>
</div>
